<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[title]</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <style>
        blockquote { font-style: italic; }
        body {
            font-family: "Source Code Pro", sans-serif;
            padding: 10px;
        }
        td {
            vertical-align: top;
            overflow: hidden;
        }
        .emp1 {
            background-color: #fcd375;
            text-decoration: none !important;
            color: black;
            padding: 3px;
        }
        .deets { margin-left: 5em; }
    </style>
  </head>
  <body>
    <div class="container">
        <a href="/">Home</a>
